.Home>header {
    height: 40vh;
    background-color: rgb(61, 61, 242);
    color: white;
    position: relative;
    margin-bottom: 2rem;
}

.Home>header>div {
    padding: 1rem 5rem;
}

.popular_location h2, p{
    margin: 1rem 0;
    color: rgb(62, 62, 62);
}

.Home >header h1 {
    padding: 1rem 0;
    font-size: 3rem;
}

.search {
    display: flex;
    position: absolute;
    bottom: -1.5rem;
    width: calc(100% - 10rem);
}

.input-search {
    height: 3.5rem;
    border:1px solid #0230fe;
    width: 30%;
    border-radius: 0;
    border-right: 0;
}

.input-search:nth-child(1) {
    border-radius: 0.5rem 0 0 0.5rem;
}

.button-search {
    flex: 1;
    height: 3.5rem;
    padding: 0 2rem;
    border-radius: 0 0.5rem 0.5rem 0;
}
.location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.location > div {
    margin-bottom: 1rem;
    cursor: pointer;
}

.introduction {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.introduction .title{
    font-size: 1.1rem;
    font-weight: bold;
}

.column-introduction {
    width: 30%;
    padding: 1rem;
    padding-bottom: 2.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(61, 61, 242, 0.3);
    position: relative;
}

.column-introduction:hover{
    transform: scale(1.02);
}

.column-introduction>div {
    height: 15rem;
}
.column-introduction>div>img{
    object-fit: cover;
}

.column-introduction > .button {
    position: absolute;
    bottom: 1rem;
}